@model List<string>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><h2>Menu</h2></p>

<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="~/Images/@item-food.jpg" />
            <div class="card-body">
                <h5 class="card-title">@item</h5>
                <p class="card-text">Here is some generic text about the food. I will add a food model that contains a string description of the food as a property.</p>
            </div>
        </div>
    }
</div>
